.paragraph {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}

.paragraph code {
  background: red;
}

.image {
  max-width: 800px !important;
  border-radius: 5px;
  min-height: 300px !important;
  min-width: 800px !important;
}

.ul {
  margin-bottom: 30px;
}

.ul li {
  list-style: circle;
}

li .paragraph {
  margin-bottom: 10px;
}

.container {
  margin-top: 20px;
}

.title2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 50px;
}
